body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: #ddd;
    color: rgb(128, 128, 128, 4);
}

h1 {
    text-align: center;
}

.top-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns, each taking 50% of the width */
}

.showcase {
 
    background-size: cover;
    padding: 3rem;
    box-shadow: grey;
}

.top-box {
    background-color: #f9f9f9; /* Background color for the text box */
    padding: 20px; /* Add padding for spacing */
}
.me{
    height: 550px;
}

.form{
    width: 30%;
    height: 38px;
    font-size: large;
}
.formBox{
    font-size: medium;
}
.lables{
    padding: 50px;
}


.top_class
{
    display:grid;
    grid-gap:20px;
   /* grid-template-columns:2fr 1fr; */
    grid-template-areas:
    'certs certs top'


}
.cert
{
   /* grid-row: 1/3; */
   grid-area: certs;
   min-height: 400px;
   background: url("Cert_photo.webp");
   background-size: cover;
   padding: 3rem;
   box-shadow: var(--shadow);
}
.top{
 padding: 1rem;
}


.top_class2
{
    display:grid;
    grid-gap:20px;
   /* grid-template-columns:2fr 1fr; */
    grid-template-areas:
    'toptwos class class'


}
.class
{
   /* grid-row: 1/3; */
   grid-area: class;
   min-height: 400px;
   background: url("grad.webp");
   background-size: cover;
   padding: 3rem;
   box-shadow: var(--shadow);
}
.top2{
 padding: 1rem;
 grid-area: toptwos;
}
.pad{
    padding-top: 50px;
}



@media screen and (max-width: 1000px) {
    .no_show {
        display: none;
    }
}
